<h1> <%= @user.name || @user.email %> </h1>
<p> create at <%= time_ago_in_words(@user.created_at) %> ago</p>
<p> has <%= pluralize(@user.items.count, "item") %> to do</p>
<div class="row">
    <h2 align="center"> My todos </h2>
    <div class="col-md-6">
      <p class='lead'> description </p>
    </div>
    <div class="col-md-4">
      <p class='lead'> Days Left </p>
    </div>
    <div class="col-md-2">
      <p class="lead"> Completed? </p>
    </div>
    <%= render @items%>
</div>

  <div class="row">
  <div calss="col-md-12">
    <div class="new-item">
      <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
    </div>
  </div>
</div>